[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    dc = diff --cached
    #type = cat-file -t
    #dump = cat-file -p
    dw = diff --color-words=.
    dww = diff --color-words
    rbi = rebase main --interactive
    # Typos
    dif = diff
    difff = diff
    sts = status
    dad = add
    ad = add
    addd = add
    t = status
    s = status
    branches = "for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'"
[color]
    ui = true
# separate file for user name / email / etc.
[include]
    path = ~/.gitconfig.local
[commit]
    gpgsign = true
    verbose = true
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    editor = nvim
[diff-so-fancy]
    markEmptyLines = true
    changeHunkIndicators = true
    stripLeadingSymbols = true
[pull]
    rebase = false
[branch]
    sort = -committerdate
[init]
	defaultBranch = main
