[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	dc = diff --cached
	#type = cat-file -t
	#dump = cat-file -p
	dw = diff --color-words=.
	dww = diff --color-words
	rbi = rebase master --interactive
	# Typos
	dif = diff
	difff = diff
	sts = status
	dad = add
	ad = add
	addd = add
	t = status
	s = status
[color]
	ui = true
[user]
	name = Francois Laithier
	email = francois@expensify.com
	signingkey = A5F102C4
[commit]
	gpgsign = true
